<h1>Your Current Cities</h1>

<% if @cities.any?() %>
  <h3>Here are your cities:</h3>

  <ul>
    <% @cities.each() do |city| %>
      <li><a href="/cities/<%= city.id()%>"><%= city.location() %></a></li>
    <% end %>
  </ul>

<% else %>

  <p>There are no cities yet!</p>

<% end %>

<div class="container">
  <a href="/"><button class="button btn">Return Home</a>
</div>
