<h3>Add new City</h3>

<form action="/cities" method="post">
  <div class="form-group">
    <label class="form-label" for="location">Assign a city to your train line:</label>
    <input class="form-control" id="location" name="location" type="text" placeholder="City Name" autofocus>
    <button type="submit" class="button btn">Add City</button>
  </div>
</form>
