<h1><%= @city.location() %></h1>

% if @city.trains().any?() %>
  <h3>Here are all the trains that stop in this city:</h3>

  <ul>
    <% @city.trains().each() do |train| %>
      <li><%= train.color() %></li>
    <% end %>
  <ul>

  <% else %>
    <p>There are no trains that stop in this city!</p>
  <% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
