<h1>Welcome to the Train Station! CHOOOOOOOOO!!!! CHOOOOOOOOOOO!!!!</h1>

<div class="container">
  <a href="/trains">View All Trains</a>
  <a href="/trains/new">Add New Train</a>
</div>


<div class="container">
  <a href="/cities">View All Cities</a>
  <a href="/cities/new">Add New City</a>
</div>
