<h1>Your Current Trains</h1>

<% if @trains.any?() %>
  <h3>Here are your trains:</h3>

  <ul>
    <% @trains.each() do |train| %>
      <li><a href="/trains/<%= train.id()%>"><%= train.color() %></a></li>
    <% end %>
  </ul>

<% else %>

  <p>There are no trains yet!</p>

<% end %>

<div class="container">
  <a href="/"><button class="button btn">Return Home</a>
</div>
