<h3>Add new Train</h3>

<form action="/trains" method="post">
  <div class="form-group">
    <label class="form-label" for="color">Assign a color to your train line:</label>
    <input class="form-control" id="color" name="color" type="text" placeholder="Train Color" autofocus>
    <button type="submit" class="button btn">Add Train</button>
  </div>
</form>
